@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: #10101B;
    color: #D0D0D0;
    text-shadow: 3pt 5pt 8pt #000000;
}

header {
    background-color: #141420;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #A8CBFE;
}

nav {
    width: 250px;
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    background-color: #12121d;
    padding: 1rem;
}

nav a {
    display: block;
    color: #CCCCCC;
    text-decoration: none;
    margin: 0.5rem 0;
}

nav a:hover {
    color: white;
}

main {
    margin-left: 270px;
    padding: 2rem;
}

h1,
h2,
h3 {
    font-weight: bold;
    color: #5A9CFE;
}

pre {
    background-color: #14141E;
    padding: 1rem;
    border-radius: 2pt;
    overflow-x: auto;
}

.inline-code {
    background-color: #14141E;
    padding: 2pt;
    border-radius: 2pt;
}

code {
    font-family: 'JetBrains Mono', monospace;
    color: whitesmoke;
}

a {
    color: #A8CBFE;
    text-decoration: none;
}

a:hover {
    color: white;
}